-@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Consultations";
    Layout = "_Layout";
}

<body>
    <h1 class="text-center">Meus Agendamentos</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Banhista</th>
                <th scope="col">Nome do Pet</th>
                <th scope="col">Horario</th>
                <th scope="col">Serviço</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
            </tr>
            <tr>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
            </tr>
        </tbody>
    </table>

</body>