@using Authen.Components.Account
@inherits LayoutComponentBase

<div class="page min-vh-100 clouds" style="">

    <main class="d-flex min-vh-100">

        <article class="content justify-content-center d-flex flex-column align-items-center min-vh-100 w-100">
         <div class="d-flex justify-content-center align-items-center">
            <img src="assets/logo.png" alt="logo escrito petshop com um cachorro tomando banho" class="col-md-5" />
         </div>
            @Body
        </article>
        <ul class="background">
            
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
</ul>
    </main>

</div>

